body {
    font-family: 'Edu Australia VIC WA NT Hand', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ededed;
}

header {
    background-color: #65718c;
    color: #ededed;
    padding: 10px;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #001a1e;
}

h2 {
    border-bottom: 2px solid #c87100;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
}

ul {
    margin-left: 20px;
}

footer {
    background-color: #001a1e;
    color: #ededed;
    text-align: center;
    padding: 10px;
}
